<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socks.jiandan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".base.JDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CommentListActivity"
            android:label="@string/title_activity_comment_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PushCommentActivity"
            android:label="@string/title_activity_push_comment" />
        <activity
            android:name=".ui.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageDetailActivityTheme" />
        <activity
            android:name=".ui.FreshNewsDetailActivity"
            android:label="@string/title_activity_fresh_news_detail"
            android:theme="@style/FreshNewsDetailActivityTheme" />
        <activity
            android:name=".ui.VideoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
